/** Font definitions */
@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./minecraft.woff") format("woff");
}

/** Page formatting */
html { 
	background: url(skyblockbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
  max-width: 66em;
  margin: 0 auto;
	font-family: "Minecraft", sans-serif;
}

/** Header formatting */
h1 {
	text-align: center;
}
img.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}
button#helpButton {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 0.5em;
  border: 3px solid #55AC58;
  background-color: #027201;
  color: white;
  font-family: "Minecraft", sans-serif;
  font-size: 1em;
}

/** Input field formatting */
div.inputs, div.sorts {
  margin: 2em auto;
  text-align: center;
}
div.inputs input[type=text] {
  border: 3px solid black;
  background: none;
  font-family: "Minecraft", sans-serif;
  font-size: 1em;
  padding: 0.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
input#maxOutlay {
  width: 7em;
}
input#maxOffers {
  width: 3em;
}
input#maxBacklog {
  width: 3em;
}
div.sorts input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
div.sorts label {
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid black;
}
div.sorts label:hover {
  background-color: #ccc;
}
div.sorts input[type="radio"]:checked + label {
    background-color: black;
    color: white;
}

/* Help formatting */
div.help {
  display: none;
  padding: 0.5em;
  border: 3px solid #55AC58;
  background-color: #027201;
  color: white;
  font-family: sans-serif;
}
div.help p {
  margin: 0;
}

/* Table formatting */
table {
  margin: 2em auto;
  text-align: center;
}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 0.5em;
  font-weight: 400;
}
th {
  background-color: black;
  color: white;
}

/* Footer formatting */
div#similartools {
  margin-top: 4em;
}
div#footer {
  margin-top: 4em;
  text-align: center;
  font-size: 0.8em;
}