/** Font definitions */
@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./minecraft.woff") format("woff");
}

/** Page formatting */
html { 
	background: url(skyblockbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
  max-width: 75em;
  margin: 0 auto;
	font-family: "Minecraft", sans-serif;
}

/** Header formatting */
h1 {
	text-align: center;
}
img.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
}
button#helpButton {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 0.5em;
  border: 3px solid #55AC58;
  background-color: #027201;
  color: white;
  font-family: "Minecraft", sans-serif;
  font-size: 1em;
}

/** Input field formatting */
div.inputs, div.sorts {
  margin: 2em auto;
  text-align: center;
}
div.inputs input[type=text] {
  border: 3px solid black;
  background: none;
  font-family: "Minecraft", sans-serif;
  font-size: 1em;
  padding: 0.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.css-checkbox + label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 27px;
  color: rgb(0, 0, 0);
}
.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMzMzMjMwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  filter: brightness(0);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  left: 0px;
  top: 0px;
  height: 27px;
  width: 27px;
}
input#maxOutlay {
  width: 7em;
}
input#maxOffers {
  width: 3em;
}
input#maxBacklog {
  width: 3em;
}
div.sorts input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
div.sorts label {
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid black;
}
div.sorts label:hover {
  background-color: #ccc;
}
div.sorts input[type="radio"]:checked + label {
    background-color: black;
    color: white;
}

/* Help formatting */
div.help {
  display: none;
  padding: 0.5em;
  border: 3px solid #55AC58;
  background-color: #027201;
  color: white;
  font-family: sans-serif;
}
div.help p {
  margin: 0;
}

/* Table formatting */
table {
  margin: 2em auto;
  text-align: center;
}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 0.5em;
  font-weight: 400;
}
th {
  background-color: black;
  color: white;
}

/* Footer formatting */
div#similartools {
  margin-top: 4em;
}
div#footer {
  margin-top: 4em;
  text-align: center;
  font-size: 0.8em;
}
